<!DOCTYPE html>
<html lang="ja">
    <head>
        <style>
            .pad{
                background-color: lavender;
                border: solid 2px;
                padding-top:  30px;
                padding-bottom:  50px;
                padding-left:  100px;
                padding-top:  50px;
                padding-right:  70px;
                padding-left:  70px;
            }
        </style>
    </head>

    <body>
        <div class="pad">
            <h4>
                新しくパスワードを2回入力してください。これにより、正しく入力できたことが確認されます。
            </h4>
            <br />
            <form action="" method="POST">
                {% csrf_token %}
                {{form}}
                <input type="submit" value="パスワードリセット"/>
            </form>
        </div>
    </body>
</html>